#!/bin/bash
#BSUB -J {{ job_name }}
#BSUB -q {{ queue }}
#BSUB -n {{ ntasks }}
#BSUB -R "span[ptile={{ ntasks }}]"
#BSUB -app vasp
#BSUB -a intelmpi
#BSUB -W 24:00
#BSUB -o {{ output }}
#BSUB -e .error

{% for line in env %}
{{ line }}
{% endfor %}

python3 {{ script }} {{ root }} {{ outdir }} {{ pool }} > .running

# CommonAdapter (LSF) completed writing Template
